APP_URL=http://localhost:3001
JWT_SECRET=secret-key-change-this-in-production
ADMIN_USER_EMAIL=admin@mail.com
ADMIN_USER_PASSWORD=password
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
BREVO_API_KEY=your-brevo-api-key