BACKEND_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000
JWT_SECRET=your-jwt-secret-change-this-in-production
PASSEPARTOUT=your-passepartout-password-change-this-in-production
ADMIN_USER_EMAIL=admin@mail.com
ADMIN_USER_PASSWORD=your-admin-password-change-this-in-production
OPERATOR_USER_EMAIL=operator@mail.com
OPERATOR_USER_PASSWORD=your-operator-password-change-this-in-production
EMAIL_TOKEN_SECRET=your-token-secret-for-email-unsubscribe-change-this-in-production
GOOGLE_CLIENT_ID=your-google-client-id-for-google-oauth
GOOGLE_CLIENT_SECRET=your-google-client-secret-for-google-oauth
TICKET_HMAC_SECRET=your-hmac-secret-for-qrcodes-encryption
RESEND_API_KEY=your-resend-api-key-for-emails
GEMINI_API_KEY=your-gemini-api-key-for-translations
GROQ_API_KEY=your-grok-api-key-for-translations
MAINTENANCE_MODE=0
