JWT_SECRET=your-jwt-secret-change-this-in-production
#PASSEPARTOUT=your-passepartout-password-change-this-in-production
INTERNAL_ADMIN_TOKEN=internal-admin-token-change-this-in-production
ADMIN_USER_EMAIL=admin@mail.com-change-this-in-production
ADMIN_USER_PASSWORD=your-admin-password-change-this-in-production
OPERATOR_USER_EMAIL=operator@mail.com-change-this-in-production
OPERATOR_USER_PASSWORD=your-operator-password-change-this-in-production
EMAIL_TOKEN_SECRET=your-token-secret-for-email-unsubscribe-change-this-in-production
GOOGLE_CLIENT_ID=your-google-client-id-for-google-oauth-change-this-in-production
GOOGLE_CLIENT_SECRET=your-google-client-secret-for-google-oauth-change-this-in-production
TICKET_HMAC_SECRET=your-hmac-secret-for-qrcodes-encryption-change-this-in-production
RESEND_API_KEY=your-resend-api-key-for-emails-change-this-in-production
GEMINI_API_KEY=your-gemini-api-key-for-translations-change-this-in-production
GROQ_API_KEY=your-grok-api-key-for-translations-change-this-in-production
SLACK_WEBHOOK_TOKEN=your-slack-webhook-token-change-this-in-production
VAPID_PUBLIC_KEY=your-vapid-public-key-for-push-notifications-change-this-in-production
VAPID_PRIVATE_KEY=your-vapid-private-key-for-push-notifications-change-this-in-production
VAPID_MAILTO=info@yourdomain.com-change-this-in-production
CRON_SECRET=your-cron-secret-for-push-notifications-change-this-in-production
MAINTENANCE_MODE=0
